<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>MyDiary|Log In</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<header>
		<div class="container">
			
				<a href="/">
    			<span class="logo"><h1>
       			 <span class= "highlighted">My</span>Diary</h1>
    			</span>
				</a>
			
			<nav>
				<ul>
					<li><a href="signup">sign up</a></li>
					<li class="current"><a href="login">Log In</a></li>
				</ul>
			</nav>
		</div>
	</header>
<div class="container">

<div class="forms">
	<form name="login" action="home">
		<h4>Log In </h4><br>
		<input type="Text" name="name" placeholder="Your Name"><br>
		<input type="Text" name="password" placeholder="Enter password here"><br>
		<input type="Submit" name="Submit" value="Log In"><br>
		<p>Don't have an account?<br> <a href="signup"> Sign Up </a></p>	
	</form>
	
	
</div>

</div>
<footer>
		<div class="container"><p> MyDiary copyright &copy; 2018<p>
		</p>
		</div>
	</footer>
</body>
</html>